<!DOCTYPE html>
<html lang="{{ jdd.locale }}">
    <head>
        <link href="/humans.txt" rel="author" type="text/plain">
        {%- block canonical -%}
            {{ canonical | safe }}
        {%- endblock %}
        <link href="/llms.txt" rel="describedby" type="text/markdown">
        <link href="/images/favicon.svg" rel="icon" type="image/svg+xml">
        {%- block link -%}
            {{ link | safe }}
        {%- endblock %}
        <link href="/css/jdd.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta content="{{ jdd.name }}" name="author">
        <meta content="{{ jdd.description }}" name="description">
        {%- block robots -%}
            {{ robots | safe }}
        {%- endblock %}
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {%- block meta -%}
            {{ meta | safe }}
        {%- endblock %}
        {%- block json -%}
            {{ json | safe }}
        {%- endblock %}
        <title>{{ jdd.name }} | {{ jdd.title }}</title>
    </head>
    <body>
        <header>
            <h1 id="header">
                <a aria-label="Skip to main" href="#main" title="Skip to main">&gt;</a>
                {{ jdd.name }}
                <span aria-hidden="true" class="cmd">|</span>
            </h1>
            <h2>
                <span aria-hidden="true">[</span>
                {{ jdd.title }}
                <span aria-hidden="true">]</span>
            </h2>
        </header>
        <main id="main" tabindex="-1">
            {%- block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        <footer id="footer">
            <p>&copy;&nbsp;Copyright {{ jdd.name | replace(". ", ".&nbsp;") | safe }}</p>
            <p>(alongside <a href="/humans.txt" rel="author" target="_blank">humans.txt</a>)</p>
            <a href="#main" title="Skip back to main">... and back again</a>
        </footer>
    </body>
</html>
