<!DOCTYPE html>
<html lang="{{ jdd.locale }}">
    <head>
        <link rel="author" type="text/plain" href="humans.txt">
        {%- block canonical -%}
            {{ canonical | safe }}
        {%- endblock %}
        <link rel="describedby" type="text/markdown" href="llms.txt">
        <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
        {%- block link -%}
            {{ link | safe }}
        {%- endblock %}
        <link rel="stylesheet" type="text/css" href="css/jdd.css">
        <meta charset="UTF-8">
        <meta name="author" content="{{ jdd.name }}">
        <meta name="description" content="{{ jdd.description }}">
        {%- block robots -%}
            {{ robots | safe }}
        {%- endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- block meta -%}
            {{ meta | safe }}
        {%- endblock %}
        <title>{{ jdd.name }}</title>
    </head>
    <body>
        <header id="header">
            <a href="#main" aria-label="Skip to main">&gt;&nbsp;</a>
            <h1>{{ jdd.name }}</h1>
            <span class="cmd" aria-hidden="true">|</span>
            <h2>
                <span aria-hidden="true">[</span>
                {{ jdd.title }}
                <span aria-hidden="true">]</span>
            </h2>
        </header>
        <main id="main" tabindex="-1">
            {%- block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        <footer>
            <p id="copyright">&copy;&nbsp;Copyright {{ jdd.name | replace(". ", ".&nbsp;") | safe }}</p>
            <p>(alongside <a href="humans.txt" rel="author">humans.txt</a>)</p>
            <a href="#main">... and back again</a>
        </footer>
    </body>
</html>
