        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@graph": [
              {
                "@type": "ProfilePage",
                "mainEntity": {
                  "@type": "Person",
                  "alternateName": "{{ jdd.alias }}",
                  "description": "{{ jdd.description }}",
                  "name": "{{ jdd.name }}",
                  "sameAs": [
                    {%- for _, link in jdd.me %}
                    "{{ link | indent(12) }}"{% if not loop.last %},{% endif %}
                    {%- endfor %}
                  ]
                }
              },
              {
                "@type" : "WebSite",
                "name" : "{{ jdd.name }}",
                "url" : "{{ jdd.website }}"
              }
            ]
          }
        </script>