        <meta content="summary_large_image" name="twitter:card">
        <meta content="{{ jdd.description }}" property="og:description">
        <meta content="{{ jdd.website }}/images/og.png" property="og:image">
        <meta content="630" property="og:image:height">
        <meta content="1200" property="og:image:width">
        <meta content="{{ jdd.locale }}" property="og:locale">
        <meta content="{{ jdd.name }} | {{ jdd.title }}" property="og:title">
        <meta content="website" property="og:type">
        <meta content="{{ jdd.website }}" property="og:url">