        <meta property="og:description" content="{{ jdd.description }}">
        <meta property="og:locale" content="{{ jdd.locale }}">
        <meta property="og:title" content="{{ jdd.name }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ jdd.website }}">
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "alumniOf": [
                {%- for _, degree in jdd.education %}
                {
                    "@type": "CollegeOrUniversity",
                    "name": "{{ degree.university }}"
                }{% if not loop.last %},{% endif %}
                {%- endfor %}
              ],
              "email": "{{ jdd.email }}",
              "hasCredential": [
                {%- for _, degree in jdd.education %}
                {
                    "@type": "EducationalOccupationalCredential",
                    "credentialCategory": "degree",
                    "educationalLevel": "{{ degree.level | safe }}",
                    "name": "{{ degree.name }}",
                    "recognizedBy": {
                        "@type": "CollegeOrUniversity",
                        "name": "{{ degree.university }}"
                    }
                }{% if not loop.last %},{% endif %}
                {%- endfor %}
              ],
              "homeLocation": {
                "@type": "Place",
                "address": {
                    "@type": "PostalAddress",
                    "addressCountry": "{{ jdd.country }}",
                    "addressRegion": "{{ jdd.region }}"
                }
              },
              "jobTitle": "{{ jdd.title }}",
              "memberOf": {
                "@type": "Organization",
                "name": "{{ jdd.register.title }}",
                "url": "{{ jdd.register.website }}"
              },
              "name": "{{ jdd.name }}",
              "sameAs": [
                {%- for _, link in jdd.me %}
                "{{ link | indent(12) }}"{% if not loop.last %},{% endif %}
                {%- endfor %}
              ],
              "url": "{{ jdd.website }}"
            }
        </script>