        <meta property="og:description" content="{{ jdd.description }}">
        <meta property="og:locale" content="{{ jdd.locale }}">
        <meta property="og:title" content="{{ jdd.name }} | {{ jdd.title }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ jdd.website }}">