---
eleventyExcludeFromCollections: true
permalink: 404.html
---

{% extends 'base.njk' %}

{% block robots %}
        <meta content="noindex" name="robots">
{%- endblock %}

{% block content %}
            <section>
                <h3 aria-hidden="true" id="error">
                    &gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr>&nbsp;--get
                    <del>redacted</del>
                </h3>
                <p class="content">
                    Sorry, that does not compute! Please select an option:
                    <br>
                    <br>
                    <span aria-hidden="true">[1]</span>
                    <a href="/">Home</a>
                    <br>
                    <span aria-hidden="true">[2]</span>
                    <a href="{{ jdd.email }}">Email</a>
                    <span aria-hidden="true" class="cmd">|</span>
                </p>
            </section>
{%- endblock %}
