---
eleventyExcludeFromCollections: true
permalink: 404.html
---

{% extends 'base.njk' %}

{% block nav %}
            <a href="/">Home</a>
{%- endblock %}

{% block content %}
            <div class="content">
                <p class="lost">
                    Not all those who 404
                    <a href="/" class="link">are lost</a>
                </p>
            </div>
{%- endblock %}
