---
eleventyExcludeFromCollections: true
date: Last Modified
permalink: humans.txt
---
/* TEAM */

	Web Development: {{ jdd.name }}
	Contact: {{ jdd.email | replace("mailto:", "") }}
	From: {{ jdd.region }}

/* THANKS */

    Domain registrar: the dotScot Registry team
    Website: https://dot.scot

    Domain: the dotScot Domains team
    Website: https://domains.scot

    Hosting, source control and CI/CD: the GitHub team
    Website: https://github.com

    Static site generator: the 11ty team and contributors
	Website: https://www.11ty.dev

	JavaScript runtime: the OpenJS Foundation and Node.js contributors
	Website: https://nodejs.org

	Templating: the Mozilla Nunjucks team and contributors
	Website: https://mozilla.github.io/nunjucks

    Email hosting and Lumo: the Proton team
    Website: https://proton.me

    Icons: the Font Awesome team and contributors
	Website: https://fontawesome.com

	CSS linting: the Stylelint team and contributors
	Website: https://stylelint.io

	Standard (HTML): the WHATWG community
	Website: https://whatwg.org

	Standard (humans): the humans.txt team
    Website: https://humanstxt.org

	Standard (llms): Jeremy Howard
    Website: https://llmstxt.org

    Standards (various): the W3C team
    Website: https://www.w3.org

	IDE: the JetBrains team
	Website: https://www.jetbrains.com

	Accessibility: the wider web accessibility community (last, but not least)

/* SITE */

	Last update: {{ page.date.toISOString() }}
	IDE: PyCharm Pro
	Language: English
    Standards: HTML5, CSS3, WCAG 2, humans.txt and llms.txt
