{% extends 'base.njk' %}

{% block canonical %}
        <link href="{{ jdd.website }}" rel="canonical">
{%- endblock %}

{% block link -%}
{% include "link.njk" %}
{%- endblock -%}

{% block robots %}
        <meta content="index, follow" name="robots">
{%- endblock %}

{% block meta %}
{% include "meta.njk" %}
{%- endblock -%}

{% block json %}
{% include "json.njk" %}
{%- endblock -%}

{% block content %}
            <section>
                <h3 id="about">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr>&nbsp;--</span>about
                </h3>
                <p class="content">
                    Hello! I'm Douglas, a Software Engineer based in Scotland. This is my wee bit of the internet. While
                    most of my code is proprietary, please visit GitHub for what I am building in public (including this
                    website). I am a generalist, but with a focus on Data Engineering, Agile, and Python. Craft is the
                    driving force in how I approach software. To deliver, I also draw on my three and a half years as
                    <dfn title="The name of the team.">Nessie's</dfn> Engineering Manager. Our focus was modernising
                    data pipelines (Spark, Databricks, AWS). After this, returning to coding was the right move.
                    Feel free to reach out.
                </p>
            </section>
            <section>
                <h3 id="education">
                    <span aria-hidden="true">&gt;&nbsp;jdd&nbsp;--</span>education
                </h3>
                <p class="content">
                    {%- for _, degree in jdd.education %}
                    <span aria-hidden="true">[{{ loop.index }}]</span> {{ degree.university }} &mdash; {{ degree.name }}
                    {%- if not loop.last %}<br>{% endif %}
                    {%- endfor %}
                </p>
            </section>
            <section>
                <h3 id="register">
                    <span aria-hidden="true">&gt;&nbsp;jdd&nbsp;--</span>register
                </h3>
                <p class="content">
                    <a href="{{ jdd.register.website }}" rel="external noopener" target="_blank">
                        {{ jdd.register.title }} &mdash; {{ jdd.register.name }}
                    </a>
                </p>
            </section>
            <section>
                <h3 id="links">
                    <span aria-hidden="true">&gt;&nbsp;jdd&nbsp;--</span>links
                </h3>
                <div>
                    <figure>
                        <img alt="GitHub logo" class="link" height="42" src="/images/github.svg" width="42">
                        <figcaption>
                            <a href="{{ jdd.me.github }}" rel="me external noopener" target="_blank" >
                                GitHub
                            </a>
                        </figcaption>
                    </figure>
                    <figure>
                        <img alt="Email icon" class="link" height="42" src="images/envelope.svg" width="42">
                        <figcaption>
                            <a href="{{ jdd.email }}">
                                Email
                            </a>
                        </figcaption>
                    </figure>
                    <figure>
                        <img alt="LinkedIn logo" class="link" height="42" src="images/linkedin.svg" width="42">
                        <figcaption>
                            <a href="{{ jdd.me.linkedin }}" rel="me external noopener" target="_blank">
                                LinkedIn
                            </a>
                        </figcaption>
                    </figure>
                    <figure>
                        <img alt="ORCID logo" class="link" height="42" src="images/orcid.svg" width="42">
                        <figcaption>
                            <a href="{{ jdd.me.orcid }}" rel="me external noopener" target="_blank">
                                ORCID
                            </a>
                        </figcaption>
                    </figure>
                </div>
            </section>
{%- endblock %}
