---
date: Last Modified
---

{% extends 'base.njk' %}

{% block canonical %}
        <link rel="canonical" href="{{ jdd.website }}">
{%- endblock %}

{% block link -%}
{% include "link.njk" %}
{%- endblock -%}

{% block meta %}
{% include "meta.njk" %}
{%- endblock -%}

{% block content %}
            <section>
                <h3 id="about">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr> --</span>about
                </h3>
                <p class="content">
                    Hello! I'm Douglas, a Software Engineer based in Scotland. This is my wee bit of the internet. While
                    most of my code is proprietary, please visit GitHub for what I am building in public (including the
                    source code for this website). I am a generalist, but with a focus on all things data,
                    Agile methodologies, and Python. Craft is the driving force in how I approach software. In this, I
                    draw on my three and a half years as an Engineering Manager (for a fantastic Data Engineering team
                    called Nessie). The other part of my background is a short period in academia (see ORCID for more).
                    Feel free to reach out if you want to know more or discuss anything.
                </p>
            </section>
            <section>
                <h3 id="education">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr> --</span>education
                </h3>
                <p class="content">
                    {%- for _, degree in jdd.education %}
                    <span aria-hidden="true">[{{ loop.index }}]</span> {{ degree.university }} &mdash; {{ degree.name }}
                    {%- if not loop.last %}<br>{% endif %}
                    {%- endfor %}
                </p>
            </section>
            <section>
                <h3 id="register">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr> --</span>register
                </h3>
                <p class="content">
                    <a href="{{ jdd.register.link }}" target="_blank" rel="external noopener">
                        {{ jdd.register.title }} &mdash; {{ jdd.register.name }}
                    </a>
                </p>
            </section>
            <section>
                <h3 id="links">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr> --</span>links
                </h3>
                <div>
                    <a href="{{ jdd.me.github }}" target="_blank" rel="me external noopener">
                        <img class="link" src="images/github.svg" alt="GitHub logo" height="39" width="39">
                    </a>
                    &nbsp;
                    <a href="{{ jdd.email }}" rel="me">
                        <img class="link" src="images/envelope.svg" alt="Email" height="39" width="39">
                    </a>
                    &nbsp;
                    <a href="{{ jdd.me.linkedin }}" target="_blank" rel="me external noopener">
                        <img class="link" src="images/linkedin.svg" alt="LinkedIn logo" height="39" width="39">
                    </a>
                    &nbsp;
                    <a href="{{ jdd.me.orcid }}" target="_blank" rel="me external noopener">
                        <img class="link" src="images/orcid.svg" alt="ORCID logo" height="39" width="39">
                    </a>
                </div>
            </section>
{%- endblock %}
