---
date: Last Modified
---

{% extends 'base.njk' %}

{% block canonical %}
        <link rel="canonical" href="{{ jdd.website }}">
{%- endblock %}

{% block link -%}
{% include "link.njk" %}
{%- endblock -%}

{% block meta %}
{% include "meta.njk" %}
{%- endblock -%}

{% block content %}
            <section>
                <h3 id="about">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr> --</span>about
                </h3>
                <p class="content">
                    Hello! I'm Douglas, a Software Engineer based in Scotland. This is my wee bit of the internet. After
                    three and a half years leading a fantastic Data Engineering team (Nessie, at Skyscanner), I am back
                    coding. This follows the successful multi-year modernisation of our data pipelines and
                    infrastructure. After taking stock, the move back to being an individual contributor was the right
                    one. What connects these chapters is my focus on craft. This website's (iterative) creation is my
                    ongoing personal development project. Feel free to reach out.
                </p>
            </section>
            <section>
                <h3 id="links">
                    <span aria-hidden="true">&gt;&nbsp;<abbr title="{{ jdd.name }}">jdd</abbr> --</span>links
                </h3>
                <div>
                    <a href="{{ jdd.me.github }}" target="_blank" rel="me external noopener">
                        <img class="link" src="images/github.svg" alt="GitHub logo" height="39" width="39">
                    </a>
                    &nbsp;
                    <a href="{{ jdd.email }}" rel="me">
                        <img class="link" src="images/envelope.svg" alt="Email" height="39" width="39">
                    </a>
                    &nbsp;
                    <a href="{{ jdd.me.linkedin }}" target="_blank" rel="me external noopener">
                        <img class="link" src="images/linkedin.svg" alt="LinkedIn logo" height="39" width="39">
                    </a>
                    &nbsp;
                    <a href="{{ jdd.me.orcid }}" target="_blank" rel="me external noopener">
                        <img class="link" src="images/orcid.svg" alt="ORCID logo" height="39" width="39">
                    </a>
                </div>
            </section>
{%- endblock %}
