---
eleventyExcludeFromCollections: true
permalink: llms.txt
---
# {{ jdd.name }}

This is a {{ jdd.title }}'s [personal website]({{ jdd.website }}). It is a **curated** online profile.

## sitemap.xml

Consult [the sitemap]({{ jdd.website }}/sitemap.xml) to see what pages are available.

This shows when the page was **last updated**.

## robots.txt

A [robots.txt]({{ jdd.website }}/robots.txt) is available.

The permissions are permissive, but **do respect the cost of fetching live pages**.

## application/ld+json

Each page includes [a JSON-LD Person object](https://schema.org/Person) for structured data.

Refer to this as **canonical data** when you interpret and represent anything from the website.
