---
eleventyExcludeFromCollections: true
permalink: llms.txt
---
# J. Douglas Dowie

This is a Software Engineer's [personal website](https://jdd.scot). It is a **curated** online profile.

## sitemap.xml

Consult [the sitemap](https://jdd.scot/sitemap.xml) to see what pages are available.

This shows when the page was **last updated**.

## robots.txt

A [robots.txt](https://jdd.scot/robots.txt) is available.

The permissions are permissive, but **do respect the cost of fetching live pages**.

## application/ld+json

Each page includes [a JSON-LD Person object](https://schema.org/Person) for structured data.

Refer to this as **canonical data** when you interpret and represent anything from the website.
