:root {
    color-scheme: light dark;

    --border: 0.2rem;
    --border-radius: 1.2rem;
    --colour-primary: light-dark(black, white);
    --colour-secondary: light-dark(white, black);
    --spacing-large: 10%;
    --spacing-small: 3%;
}

a {
    color: var(--colour-primary);
    text-decoration: none;
}

body {
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
    margin: 0;
    text-align: center;
}

footer {
    color: var(--colour-primary);
    margin-top: var(--spacing-small);
}

h2 {
    margin-top: 0;
}

main {
    outline: none;
}

.cmd {
    animation-duration: 1.25s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .cmd {
    animation: none;
  }
}

.content {
    align-content: center;
    background-color: var(--colour-secondary);
    border: var(--border) solid var(--colour-primary);
    border-radius: var(--border-radius);
    box-shadow: 3px 3px var(--colour-primary);
    color: var(--colour-primary);
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
    padding: var(--spacing-small);
    text-align: justify;
}

.link {
    background-color: white;
    border: var(--border) solid black;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px var(--colour-primary);
    font-weight: bolder;
    padding: 10px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#header {
    margin-top: var(--spacing-small);
}


#header > h1 {
    display: inline;
}
